{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
{% endblock %}

{% block navbar %}
<li class="active"><a href="{% url 'index' %}">Home</a></li>
{% if request.user.is_authenticated %}
<li><a href="#">My Drive</a></li>
<li><a href="#">Library</a></li>
<li><a href="{% url 'editor' %}">Image Editor</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'register' %}">Register</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="inner cover">
    <h1 class="cover-heading">Welcome to Mdrive.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
        and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </p>
</div>
{% endblock %}
