{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<li><a href="{% url 'index' %}">Home</a></li>
{% if request.user.is_authenticated %}
<li><a href="{% url 'mydrive' %}">My Drive</a></li>
<li><a href="{% url 'library' %}">Library</a></li>
<!--<li><a href="{% url 'editor' %}">Image Editor</a></li>-->
<li>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {{ request.user.get_full_name }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a>{{ request.user.email }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
<li class="active"><a href="{% url 'register' %}">Register</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="inner cover">
    <form class="form-signin" action="" method="POST">
        {% csrf_token %}

        <label for="id_{{ form.first_name.name }}" class="sr-only">Email address</label>
        {{ form.first_name }}

        <label for="id_{{ form.last_name.name }}" class="sr-only">Email address</label>
        {{ form.last_name }}

        <label for="id_{{ form.mobile.name }}" class="sr-only">Email address</label>
        {{ form.mobile }}

        <label for="id_{{ form.email.name }}" class="sr-only">Email address</label>
        {{ form.email }}

        <label for="id_{{ form.password.name }}" class="sr-only">Email address</label>
        {{ form.password }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

    {% if message %}
    <span id="message">{{ message }}</span>
    {% endif %}
</div>
{% endblock %}